@import 'css/colors.scss';

.baseButton {
  color: $white;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  line-height: 24px;

  &.disabled {
    opacity: 0.65;
  }

  &:not(.disabled) {
    &:hover {
      cursor: pointer;
    }
  }
}

.navButton {
  padding: 8px 16px;
  background-color: $grey-100;
  border-color: $grey-90;

  &:not(.disabled) {
    &:hover {
      border-color: #1d2124;
    }
  }
}

.primaryButton {
  padding: 6px 12px;
  background-color: $grey-50;
  border-color: $grey-50;

  &:not(.disabled) {
    &:hover {
      background-color: $grey-60;
      border-color: $grey-65;
    }
  }
}

.secondaryButton {
  padding: 6px 12px;
  background-color: $grey-90;
  border-color: $grey-90;

  &:not(.disabled) {
    &:hover {
      background-color: $grey-95;
      border-color: $grey-110;
    }
  }
}
