@import 'css/colors.scss';

.home {
  margin: 0 auto;
  padding: 2em 15px;
  max-width: 1140px;
  box-sizing: border-box;
}

.header {
  font-family: 'PT Serif', serif;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}

.quickTipsCard {
  margin-bottom: 24px;
}

.quickTipsList {
  margin: 0;
  line-height: 1.5;
}

.favouriteText {
  color: $green;
}

.highlightedText {
  color: $orange;
}

.highestVolumeCard {
  margin-bottom: 16px;
}

.italicText {
  font-style: italic;
}
