$red: #ff7e7e;
$yellow: #ffe37e;
$green: #8aff2a;
$white: #ffffff;
$gold: #e4daa2;
$gold-dark: #e4cc79;
$orange: #ffaa2a;
$grey-100: #262a2e;
$grey-90: #343a40;
$grey-80: #454d55;
$grey-70: #5d5d5d;
$grey-30: #c3c3c3;
