.favouritesPage {
  max-width: 1500px;
  margin: 0 auto;
  padding: 32px 15px;
  box-sizing: border-box;
}

.header {
  font-family: 'PT Serif', serif;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}
