@import 'css/colors.scss';

.app {
  font-family: 'IBM Plex Sans', sans-serif;
  color: $white;
  background-color: $grey-100;

  a {
    color: $gold;
    text-decoration: none;

    &:hover {
      color: $gold-dark;
      text-decoration: underline;
    }
  }
}

.mainContent {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
